<div class="jumbotron">
    <div class="container">
        <h3 class="display-4 text-center text-dark"><b>Add IPO</b></h3>
        <form class=" w-50 container" [formGroup]="updateIpoForm">

            <div class="form-group">
                <label for="id">id</label>
                <input class="form-control" formControlName="id" type="number" id="id"
                    disabled>
            </div>
            <div class="form-group">
                <label for="companyName">Company Name</label>
                <input class="form-control" formControlName="companyName" type="text" id="companyName"
                    placeholder="Enter Company name">
            </div>
            <div class="form-group">
                <label for="stockExchange">Stock Exchange</label>
                <input class="form-control" formControlName="stockExchange" type="text" id="stockExchange"
                    placeholder="Enter stock exchange">
            </div>
            <div class="form-group">
                <label for="pricePerShare">Price Share</label>
                <input class="form-control" formControlName="pricePerShare" type="number" id="pricePerShare"
                    placeholder="Enter PriceShare ">
            </div>
            <div class="form-group">
                <label for="noOfShares">Number Of Shares</label>
                <input class="form-control" formControlName="noOfShares" type="number" id="noOfShares"
                    placeholder="Enter No of Shares ">
            </div>

            <div class="form-group">
                <label for="openDateTime">Date</label>
                <input class="form-control" formControlName="openDateTime" type="date" id="openDateTime"
                    placeholder="Enter date">
            </div>

            <div class="form-group">
                <label for="remarks">Remarks</label>
                <input class="form-control" formControlName="remarks" type="text" id="remarks"
                    placeholder="Enter address">
            </div>
            <button class="btn btn-success" (click)="updateIpo()" [disabled]="!updateIpoForm.valid">Update</button>

        </form>
    </div>
</div>