

  <div class="container">
    
    <div class="row">
        <div class="card-deck col-10 pt-5">
            <div class="pb-4 mx-auto">
                <a [routerLink]="['/user-compare-companies']" style="text-decoration: none;">
                    <div class="card bg-transparent" style="width: 400">
                        <div class="card-header">
                            <img src="../../../assets/chart.png" width="400" height="200">
                        </div>
                        <div class="card-body">
                            <h2 class="text-center text-light">COMPARE SECTOR</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" mx-auto">
                <a [routerLink]="['/user-compare-sectors']" style="text-decoration: none;">
                    <div class="card bg-transparent" style="width: 400">
                        <div class="card-header">
                            <img src="../../../assets/5852.1549055198.jpg" width="400" height="200">
                        </div>
                        <div class="card-body">
                            <h2 class="text-center text-light">COMPARE COMPANY</h2>
                        </div>
                    </div>
                </a>
            </div>