<div class="list-group text-center">
    <a [routerLink]="['/users']" class="list-group-item text-light list-group-item-action bg-primary list-group-item-dark">SHOW USER LIST</a>
    <a [routerLink]="['/sign-up']" class="list-group-item text-light list-group-item-action bg-secondary list-group-item-dark">ADD USER</a>
    <a [routerLink]="['/import-data']" class="list-group-item text-light list-group-item-action bg-success list-group-item-dark">IMPORT DATA</a>
    <a [routerLink]="['/add-company']" class="list-group-item text-light list-group-item-action bg-danger list-group-item-dark">ADD COMPANY</a>
    <a [routerLink]="['/company']" class="list-group-item text-light list-group-item-action bg-info list-group-item-dark">LIST COMPANIES</a>
    <a [routerLink]="['/manageexchange']" class="list-group-item  list-group-item-action bg-light list-group-item-dark">MANAGE EXCHANGE</a>
    <a [routerLink]="['/list-exchange']" class="list-group-item text-light list-group-item-action bg-dark list-group-item-dark">LIST EXCHANGE</a>
    <a [routerLink]="['/add-ipo']" class="list-group-item text-light list-group-item-action bg-warning list-group-item-dark">ADD IPO</a>
    <a [routerLink]="['/list-ipo']" class="list-group-item list-group-item-action bg-white list-group-item-dark">LIST IPO</a> 
    <a [routerLink]="['/add-stockPrice']" class="list-group-item list-group-item-action bg-dark list-group-item-dark">ADD STOCKPRICE</a> 
    <a [routerLink]="['/list-stockPrice']" class="list-group-item list-group-item-action bg-white list-group-item-dark">LIST STOCKPRICE DETAILS</a> 

</div>
  
