
    <table class="table border-2 jumbotron jumbotron-fluid bg-dark text-light  w-75 container">
        <tr>
        
            <th>ID</th>
            <th>EXCHANGE NAME</th>
            <th>ADDRESS</th>
            <th>BRIEF</th>
            <th>REMARKS</th>
            <th>ACTIONS</th>
        </tr>
        <tr *ngFor="let exchang of exchanges">
            <td>{{exchang.id}}</td>
            <td>{{exchang.exchangeName}}</td>
            <td>{{exchang.contactAddress}}</td>
            <td>{{exchang.brief}}</td>
            <td>{{exchang.remarks}}</td>
            <td>
                <button class="btn btn-danger" (click)="deleteExchange(exchang)">Delete</button>
                <button class="btn btn-primary" (click) ="updateExchange(exchang)">Update</button>
            </td>
        </tr>
    </table>