<div class="row mx-auto">
  <div class="col-5 mt-5 mx-auto">
    <div class="card p-3">
      <h1 class=" text-center"> LOGIN </h1>
      <div class="btn btn-dark  text-center" (click)="adminlogin()">
        <div class="text-center">
          <h3 class=" display-5">Admin</h3>
        </div>
      </div><br>
      <div class="btn btn-dark text-center" (click)="login()">
        <div class="text-center">
          <h3 class=" display-5 ">User</h3>
        </div>
      </div>
    </div>

  </div>

</div>
