
    <thead>
<div class="list-group text-center">
    
    <a [routerLink]="['/manage-user']" class="list-group-item text-light list-group-item-action bg-warning list-group-item-dark">MANAGE USER</a>
    <a [routerLink]="['/import-data']" class="list-group-item text-light list-group-item-action bg-success list-group-item-dark">IMPORT DATA</a>
    <a [routerLink]="['/manage-company']" class="list-group-item text-light list-group-item-action bg-warning list-group-item-dark">MANAGE COMPANY</a>
    <a [routerLink]="['/exchange']" class="list-group-item text-light list-group-item-action bg-warning list-group-item-dark">MANAGE EXCHANGE</a>
    <a [routerLink]="['/manage-ipo']" class="list-group-item text-light list-group-item-action bg-warning list-group-item-dark">MANAGE IPO</a>
    <a [routerLink]="['/manage-stock']" class="list-group-item text-light list-group-item-action bg-warning list-group-item-dark">MANAGE STOCKPRICE</a> 
    
</div>
    </thead>

