<div class="row mb-2">
    <div class="col-5 my-5 ">
        <div class="card">  
           <h1 class=" text-center  bg-dark text-light "> LOGIN </h1>  
        <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='admin-login'">
                <div class=" bg-light text-dark text-center">
                <h3 class="card-title display-5">Admin</h3>
               </div>  
            </div><br>
            <div class="card my-card border border-curved text-center btn btn-outline-dark" onclick="location.href='login'">
               <div  class=" bg-light text-dark text-center">
               <h3 class="card-title display-5 ">User</h3>
            </div>
             </div>
           </div> 
        
    </div>
    
   </div>    


