<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cts</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="com.cts.stockview.model.User" />
		<mapping class="com.cts.stockview.model.Company" />
		<mapping class="com.cts.stockview.model.StockExchange" />
		<mapping class="com.cts.stockview.model.StockPrice" />
		<mapping class="com.cts.stockview.model.Sector" />
		<mapping class="com.cts.stockview.model.IPO" />
		<mapping class="com.cts.stockview.model.PermanentEmployee" />
		<mapping class="com.cts.stockview.model.Employee" />
		<mapping class="com.cts.stockview.model.ContractualEmployee" />
		<mapping class="com.cts.stockview.model.Person" />
		<mapping class="com.cts.stockview.model.PassportDetails" />
		<mapping class="com.cts.stockview.model.Movie" />
		<mapping class="com.cts.stockview.model.Actor" />
		<mapping class="com.cts.stockview.model.Developer" />
		<mapping class="com.cts.stockview.model.Technology" />
	</session-factory>
</hibernate-configuration>
