<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4">Create New Account</h3>
      <form class=" w-50 container" [formGroup]="SignupForm"  (ngSubmit)="addUser()">
               
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input class="form-control" formControlName="name" type="text" id="name" placeholder="Enter Fullname">
                </div>
                <div class="form-group" >
                    <label for="email">Email address</label>
                    <input class="form-control" formControlName="email" type="email" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="phone">Mobile Number</label>
                    <input class="form-control" formControlName="phone" type="number" id="phone" placeholder="Enter Mobile Number ">
                </div>
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input class="form-control" formControlName="username" type="text" id="username" placeholder="Select a userid">
                </div>
            
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" formControlName="password" type="password" id="password" placeholder="Password">
                </div>

                <button class="btn btn-dark" [disabled]="!SignupForm.valid">Add User</button>
                
            </form>
    </div>
    </div>
