
<div class="float-left">
    <app-sidenav></app-sidenav>
</div>
<div class="container">
    
    <div class="row">
        <div class="card-deck col-10 pt-5">
            <div class="pb-4 mx-auto">
                <a [routerLink]="['/import-data']" style="text-decoration: none;">
                    <div class="card bg-transparent" style="width: 250">
                        <div class="card-header">
                            <img src="../../../assets/hhh.gif" width="200" height="200">
                        </div>
                        <div class="card-body">
                            <h2 class="text-center text-light">IMPORT</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" mx-auto">
                <a [routerLink]="['/manage-company']" style="text-decoration: none;">
                    <div class="card bg-transparent" style="width: 250">
                        <div class="card-header">
                            <img src="../../../assets/company.gif" width="200" height="200">
                        </div>
                        <div class="card-body">
                            <h2 class="text-center text-light">COMPANY</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="  mx-auto">
                <a [routerLink]="['/exchange']" style="text-decoration: none;">
                    <div class="card bg-transparent" style="width: 250">
                        <div class="card-header">
                            <img src="../../../assets/exchange.gif" width="200" height="200">
                        </div>
                        <div class="card-body">
                            <h2 class="text-center text-light">STOCK</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="  mx-auto">
                <a [routerLink]="['/manage-ipo']" style="text-decoration: none;">
                    <div class="card bg-transparent" style="width: 250">
                        <div class="card-header">
                            <img src="../../../assets/ipo.gif" width="200" height="200">
                        </div>
                        <div class="card-body">
                            <h2 class="text-center text-light">IPO</h2>
                        </div>
                    </div>
                </a>
            </div>
        
    
    
  
        <div class="  mx-auto">
            <a [routerLink]="['/manage-user']" style="text-decoration: none;">
                <div class="card bg-transparent" style="width: 250">
                    <div class="card-header">
                        <img src="../../../assets/user.gif" width="200" height="200">
                    </div>
                    <div class="card-body">
                        <h2 class="text-center text-light">USERS</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="  mx-auto">
            <a [routerLink]="['/manage-stock']" style="text-decoration: none;">
                <div class="card bg-transparent" style="width: 250">
                    <div class="card-header">
                        <img src="../../../assets/stockprice.gif" width="200" height="200">
                    </div>
                    <div class="card-body">
                        <h2 class="text-center text-light">STOCK PRICE</h2>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    
</div>
</div>