<div class="row">
  <div class="container-fluid col-12 col-md-10">
      <form class="p-2 p-md-5 jumbotron shadow" [formGroup]="compareSector">
          <div class="form-group">
              <label for="selectSector1">Select Sector:</label>
              <select name="selectSector1" class="form-control" formControlName="selectSector1">
                  <option *ngFor="let comp of company" value={{comp.id}}>{{comp.companyName}}</option>
              </select>
              <small class="text-muted">select the company</small>
          </div>
          <div class="form-group">
              <label for="selectSector2">Select sector:</label>
              <select name="selectSector2" class="form-control" formControlName="selectSector2">
                  <option *ngFor="let comp of company" value={{comp.id}}>{{comp.companyName}}</option>
              </select>
              <small class="text-muted">select the sector</small>
          </div>
          <div class="row justify-content-center">
              <input type="submit" (click)="compareSectors()" value="Compare" class="btn btn-info mx-1 px-1 px-md-5">
              <input type="submit" value="Generate Maps" class="btn btn-success mx-1 px-1 px-md-5">
          </div>
      </form>
  </div>
</div>