<div>
    <table class="table table-responsive border-2 jumbotron jumbotron-fluid bg-dark text-light w-75 container">
        <tr>
            <th>ID</th>
            <th>COMPANY NAME</th>
            <th>STOCK EXCHANGE</th>
            <th>PRICE-PER-SHARE</th>
            <th>NO-OF-SHARE</th>
            <th>DATE</th>
            <th>REMARKS</th>
            <th>ACTIONS</th>
        </tr>
        <tr *ngFor="let ipo of ipos">
            <td>{{ipo.id}}</td>
            <td>{{ipo.companyName}}</td>
            <td>{{ipo.stockExchange}}</td>            
            <td>{{ipo.pricePerShare}}</td>
            <td>{{ipo.noOfShares}}</td>
            <td>{{ipo.openDateTime}}</td>
            <td>{{ipo.remarks}}</td>
            <td>
                <button class="btn btn-danger" (click)="deleteIpo(ipo)">Delete</button>
                <button class="btn btn-primary" (click)="updateIpo(ipo)">Update</button>
            </td>
        </tr>  
    </table>
</div>
