<table class="table table-responsive border-3 jumbotron jumbotron-fluid bg-dark text-light  w-75 container">
    <tr>
    
        <th>ID</th>
        <th>COMPANY NAME</th>
        <th>CITY</th>
        <th>TURN-OVER</th>
        <th>C.E.O</th>
        <th>ACTION</th>
    </tr>
    <tr *ngFor="let company of companies">
        <td>{{company.id}}</td>
        <td>{{company.name}}</td>
        <td>{{company.city}}</td>
        <td>{{company.turnOver}}</td>
        <td>{{company.ceoName}}</td>
        <td><button class="btn btn-danger" (click)="deleteCompany(company)">Delete</button>
        <button class="btn btn-primary" (click) ="updateCompany(company)">Update</button>
    
    </td>
    </tr>
</table>
 <button class="btn btn-danger" (click)="getAllUsers()">GetAllUsers</button>

<table *ngIf="users" class="table border-2 jumbotron jumbotron-fluid bg-dark text-light table-responsive  w-75 container" >
    <tr>
    
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
       
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        
    
    
    </tr>
</table>


 

